.anime_div {
    position: absolute;
    right: 87px;
    top: 168px;
    width: 870px;
    height: 532px;
    background-color: blue;
    border-radius: 280px;
    z-index: -1;
}

.north_png {
    position: absolute;
    width: 311px;
    top: 44px;
    right: 500px;
    animation: north 7s;
    animation-delay: -1s;
}

@keyframes north {
    0% {
        opacity: 0.1;
        right: 110px;
        top: 300px;
    }
    25% {
        opacity: 0.3;
        right: 200px;
        top: 250px;
    }
    50% {
        opacity: 0.5;
        right: 300px;
        top: 200px;
    }
    75% {
        opacity: 0.8;
        right: 450px;
        top: 169px;
    }
    100% {
        opacity: 1;
        right: 500px;
        top: 44px;
    }
}

.south_png {
    position: absolute;
    width: 130px;
    top: 205px;
    right: 562px;
    animation: south 7s;
    animation-delay: -1s;
}

@keyframes south {
    0% {
        opacity: 0.1;
        right: 110px;
        top: 60px;
    }
    25% {
        opacity: 0.3;
        right: 210px;
        top: 100px;
    }
    50% {
        opacity: 0.5;
        right: 320px;
        top: 200px;
    }
    75% {
        opacity: 0.8;
        right: 450px;
        top: 300px;
    }
    100% {
        opacity: 1;
        right: 562px;
        top: 205px;
    }
}

.asia_png {
    position: absolute;
    top: 40px;
    right: 134px;
    width: 301px;
    animation: asia 7s;
    animation-delay: -1s;
}

@keyframes asia {
    0% {
        opacity: 0.1;
        right: 500px;
        top: 60px;
    }
    25% {
        opacity: 0.3;
        right: 400px;
        top: 120px;
    }
    50% {
        opacity: 0.5;
        right: 300px;
        top: 170px;
    }
    75% {
        opacity: 0.8;
        right: 200px;
        top: 200px;
    }
    80% {
        opacity: 0.9;
        right: 150px;
        top: 220px;
    }
    90% {
        right: 120px;
        top: 100px;
    }
    99% {
        opacity: 1;
        right: 134px;
        top: 40px;
    }
}

.australia_png {
    position: absolute;
    width: 150px;
    top: 257px;
    right: 91px;
    animation: australia 5s;
    animation-duration: 7s;
    animation-delay: -1s;
}

@keyframes australia {
    0% {
        opacity: 0.1;
        right: 500px;
        top: 60px;
    }
    25% {
        opacity: 0.3;
        right: 400px;
        top: 120px;
    }
    50% {
        opacity: 0.5;
        right: 300px;
        top: 170px;
    }
    75% {
        opacity: 0.8;
        right: 200px;
        top: 200px;
    }
    99% {
        opacity: 1;
        right: 91px;
        top: 257px;
    }
}

.evrope_png {
    position: absolute;
    width: 110px;
    top: 46px;
    right: 413px;
    animation: evrope 5s;
    animation-duration: 7s;
    animation-delay: -1s;
}

@keyframes evrope {
    0% {
        opacity: 0.1;
        right: 0;
        top: 400px;
    }
    25% {
        opacity: 0.3;
        right: 100px;
        top: 300px;
    }
    50% {
        opacity: 0.5;
        right: 200px;
        top: 200px;
    }
    75% {
        opacity: 0.8;
        right: 270px;
        top: 250px;
    }
    100% {
        opacity: 1;
        right: 413px;
        top: 46px;
    }
}

.africa_png {
    position: absolute;
    top: 141px;
    right: 347px;
    width: 189px;
    animation: africa 5s;
    animation-duration: 7s;
    animation-delay: -1s;
}

@keyframes africa {
    0% {
        opacity: 0.1;
        right: 0;
        top: 400px;
    }
    25% {
        opacity: 0.3;
        right: 100px;
        top: 300px;
    }
    50% {
        opacity: 0.5;
        right: 200px;
        top: 200px;
    }
    75% {
        opacity: 0.8;
        right: 270px;
        top: 250px;
    }
    100% {
        opacity: 1;
        right: 347px;
        top: 141px;
    }
}